<table class="<%- tableClassName %>">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Photo</th>
        <th>Options</th>
    </tr>
    <tbody class="<%- tableBodyClassName %>">
    <% _.forEach(users, function (user) { %>
        <tr>
            <td class="user-id"><%- user.id %></td>
            <td><%-user.first_name %></td>
            <td><%-user.last_name %></td>
            <td><%-user.email %></td>
            <td>
                <img src="<%- user.URL %>" alt="User Photo">
            </td>
            <td class="options-field">

            </td>
        </tr>
    <% }); %>
    </tbody>
</table>